<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <connectionStrings>
    <add name="QDSServerConnectionString" connectionString="Data Source=184.168.47.17;Integrated Security=False;Persist Security Info=True;User ID=mrrozendaal;Password=***********;Packet Size=4096"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>