/*
This is an example of how to use the image sprite in your own CSS files
*/
.avatarsprite {
	background-image: url('avatarSprite.sprite.png');
	background-repeat: no-repeat;
	display: inline-block;
}
.avatarsprite.avatar {
	width: 530px;
	height: 530px;
	background-position: -10px -10px;
}
