/*the main header*/
header {
    text-align: center;
    padding: 20px;
    background-color: #a7afbc;
    font-family: courier new;
    font-size: 40pt;
    color: red;
}

/* the main footer*/
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #a7afbc;
  text-align: center;
}