@model IEnumerable < List < qdsgames.com.Models.UserUtil.FriendInfo>>

@{
    ViewBag.Title = "Friends";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Friends</h2>

<div>
    <h4>Friends</h4>
    <table name="userTable">
        <tr class="row">
            
            <th class="col-lg-4">Username</th>
            
        </tr>
        
        @foreach (var item in ViewBag.friends)
        {

            <tr class="row">
                <td class="col-lg-4">
                    @item.name
                </td>
                
            </tr>
        }
    </table>
</div>
