*, body {
    margin:0;
    border:0;
    padding: 0;
    padding-top: 0;
}
.left_bar {
    border: 1px solid #0f0;
    float: left;
    width: 200px;
}
.right_bar {
    border: 1px solid #0f0;
    float: right;
    width: 250px;
}
.main_content {
    border: 1px solid #000;
    margin-left: 200px;
    margin-right: 250px;
}
#form1 {
    overflow: hidden;
    width: 100%;
    min-width: 800px;
}
html {
    padding: 75px;
    padding-top: 0px;
    padding-bottom:50px;
    background-image: url("../images/Social_Icons/ALL_em.png");
    background-repeat: repeat;
    background-size: 25% 25%;
}
body {
    border:5px groove black;
}