#username{
    text-align: center;
}
#social_table{
    border-collapse: collapse;
    border: 1px solid black;
    width:100%;
}

#social_table th, #social_table td {
    padding: 8px;
    text-align: left;
    border-bottom: 2px solid grey;
    border-top:2px solid grey;
    border:1px solid black;
    height:250px;
}