/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2016 (13.0.4001)
    Source Database Engine Edition : Microsoft SQL Server Express Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [QDSgames]
GO
/****** Object:  Table [dbo].[FOLLOW]    Script Date: 9/22/17 11:28:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FOLLOW](
	[FOLLOWID] [int] NOT NULL,
	[USERID] [int] NOT NULL,
	[FRIENDID] [int] NOT NULL,
	[SFB1] [varchar](100) NULL,
	[SFB2] [varchar](100) NULL,
	[SFB3] [varchar](100) NULL,
	[SFB4] [varchar](100) NULL,
	[SFB5] [varchar](100) NULL,
	[SFB6] [varchar](100) NULL,
 CONSTRAINT [PK_FOLLOW] PRIMARY KEY CLUSTERED 
(
	[FOLLOWID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FUID]    Script Date: 9/22/17 11:28:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FUID](
	[ID] [int] NOT NULL,
	[FRIENDID] [int] NOT NULL,
	[BLOCK] [bit] NOT NULL,
	[USERID] [int] NOT NULL,
 CONSTRAINT [PK_FUID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LVIDEO]    Script Date: 9/22/17 11:28:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LVIDEO](
	[ID] [int] NOT NULL,
	[V1] [varchar](100) NULL,
	[V2] [varchar](100) NULL,
	[V3] [varchar](100) NULL,
	[V4] [varchar](100) NULL,
	[V6] [varchar](100) NULL,
 CONSTRAINT [PK_LVIDEO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MSLID]    Script Date: 9/22/17 11:28:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MSLID](
	[ID] [int] NOT NULL,
	[NAME] [varchar](20) NULL,
	[LINK] [varchar](50) NULL,
	[LOGOPIC] [image] NULL,
 CONSTRAINT [PK_MSLID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UCLTbasic]    Script Date: 9/22/17 11:28:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UCLTbasic](
	[ID] [int] NOT NULL,
	[R1C1] [int] NOT NULL,
	[R1C2] [varchar](50) NULL,
	[R1C3] [varchar](50) NULL,
	[R2C1] [int] NOT NULL,
	[R2C2] [varchar](50) NULL,
	[R2C3] [varchar](50) NULL,
	[R3C1] [int] NOT NULL,
	[R3C2] [varchar](50) NULL,
	[R3C3] [varchar](50) NULL,
 CONSTRAINT [PK_UCLTbasic] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UCLTpaid]    Script Date: 9/22/17 11:28:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UCLTpaid](
	[ID] [int] NOT NULL,
	[R4C1] [int] NULL,
	[R4C2] [varchar](50) NULL,
	[R4C3] [varchar](50) NULL,
	[R5C1] [int] NULL,
	[R5C2] [varchar](50) NULL,
	[R5C3] [varchar](50) NULL,
	[R6C1] [int] NULL,
	[R6C2] [varchar](50) NULL,
	[R6C3] [varchar](50) NULL,
 CONSTRAINT [PK_UCLTpaid] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 9/22/17 11:28:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[ID] [int] NOT NULL,
	[NAME] [varchar](50) NOT NULL,
	[DOB] [date] NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[PHONE] [numeric](10, 0) NULL,
	[ADDRESS] [nvarchar](70) NOT NULL,
	[USERTYPE] [numeric](1, 0) NULL,
	[BAN] [bit] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FOLLOW]  WITH CHECK ADD  CONSTRAINT [FK_FOLLOWfriendid_USERid] FOREIGN KEY([FRIENDID])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[FOLLOW] CHECK CONSTRAINT [FK_FOLLOWfriendid_USERid]
GO
ALTER TABLE [dbo].[FOLLOW]  WITH CHECK ADD  CONSTRAINT [FK_FOLLOWuserid_USERid] FOREIGN KEY([USERID])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[FOLLOW] CHECK CONSTRAINT [FK_FOLLOWuserid_USERid]
GO
ALTER TABLE [dbo].[FUID]  WITH CHECK ADD  CONSTRAINT [FK_FUIDFriendID_USERid] FOREIGN KEY([ID])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[FUID] CHECK CONSTRAINT [FK_FUIDFriendID_USERid]
GO
ALTER TABLE [dbo].[FUID]  WITH CHECK ADD  CONSTRAINT [FK_FUIDuserid_USERid] FOREIGN KEY([USERID])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[FUID] CHECK CONSTRAINT [FK_FUIDuserid_USERid]
GO
ALTER TABLE [dbo].[LVIDEO]  WITH CHECK ADD  CONSTRAINT [FK_LVIDEOid_USERid] FOREIGN KEY([ID])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[LVIDEO] CHECK CONSTRAINT [FK_LVIDEOid_USERid]
GO
ALTER TABLE [dbo].[UCLTbasic]  WITH CHECK ADD  CONSTRAINT [FK_UCLTbasicID_USERSid] FOREIGN KEY([ID])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[UCLTbasic] CHECK CONSTRAINT [FK_UCLTbasicID_USERSid]
GO
ALTER TABLE [dbo].[UCLTbasic]  WITH CHECK ADD  CONSTRAINT [FK_UCLTbasicR1C1_MLSID] FOREIGN KEY([R1C1])
REFERENCES [dbo].[MSLID] ([ID])
GO
ALTER TABLE [dbo].[UCLTbasic] CHECK CONSTRAINT [FK_UCLTbasicR1C1_MLSID]
GO
ALTER TABLE [dbo].[UCLTbasic]  WITH CHECK ADD  CONSTRAINT [FK_UCLTbasicR2C1_MLSID] FOREIGN KEY([R2C1])
REFERENCES [dbo].[MSLID] ([ID])
GO
ALTER TABLE [dbo].[UCLTbasic] CHECK CONSTRAINT [FK_UCLTbasicR2C1_MLSID]
GO
ALTER TABLE [dbo].[UCLTbasic]  WITH CHECK ADD  CONSTRAINT [FK_UCLTbasicR3C1_MLSID] FOREIGN KEY([R3C1])
REFERENCES [dbo].[MSLID] ([ID])
GO
ALTER TABLE [dbo].[UCLTbasic] CHECK CONSTRAINT [FK_UCLTbasicR3C1_MLSID]
GO
ALTER TABLE [dbo].[UCLTpaid]  WITH CHECK ADD  CONSTRAINT [FK_R4C1_mlsid] FOREIGN KEY([R4C1])
REFERENCES [dbo].[MSLID] ([ID])
GO
ALTER TABLE [dbo].[UCLTpaid] CHECK CONSTRAINT [FK_R4C1_mlsid]
GO
ALTER TABLE [dbo].[UCLTpaid]  WITH CHECK ADD  CONSTRAINT [FK_R5C1_mlsid] FOREIGN KEY([R5C1])
REFERENCES [dbo].[MSLID] ([ID])
GO
ALTER TABLE [dbo].[UCLTpaid] CHECK CONSTRAINT [FK_R5C1_mlsid]
GO
ALTER TABLE [dbo].[UCLTpaid]  WITH CHECK ADD  CONSTRAINT [FK_R6C1_mlsid] FOREIGN KEY([R6C1])
REFERENCES [dbo].[MSLID] ([ID])
GO
ALTER TABLE [dbo].[UCLTpaid] CHECK CONSTRAINT [FK_R6C1_mlsid]
GO
ALTER TABLE [dbo].[UCLTpaid]  WITH CHECK ADD  CONSTRAINT [FK_UCLTpaid_USERS] FOREIGN KEY([ID])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[UCLTpaid] CHECK CONSTRAINT [FK_UCLTpaid_USERS]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Followed Users List' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FOLLOW'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Video Links Table' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LVIDEO'
GO
