@{
    ViewBag.Title = "Username";
}
<div class="page-header">
    <h1>@ViewData["Username"]</h1>
</div>
<div class="row">
    <div class="col-md-2">
        <h2>Page Activity</h2>
        <p>
            
        </p>
        
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-4"><p>Social Media Link URL</p></div>
            <div class="col-md-4"><p>Social Media Page</p></div>
            <div class="col-md-4"><p>Social Media Video</p></div>
        </div>
    </div>
    <div class="col-md-2">
        <h2>Friends List</h2>
    </div>
</div>